{% extends "admin.twig" %}
{% block content %}
<div class="container">
  <div id="left-navbar">
    <a class="ln-item" href="#">A</a>
    <a class="ln-item" href="#">B</a>
    <a class="ln-item" href="#">C</a>
    <a class="ln-item" href="#">D</a>
    <a class="ln-item" href="#">E</a>
  </div>
  <div id="left-box">
    <a class="list-item" href="#">list data</a>
    <a class="list-item" href="#">list data</a>
    <a class="list-item" href="#">list data</a>
    <a class="list-item" href="#">list data</a>
    <a class="list-item" href="#">list data</a>
  </div>
  <div id="content">

  </div>
</div>
{% endblock %}