<header>
    <div id="header">
        <div id="logo">
            <a>SiteLogo.ru</a>
        </div>
        <nav id="top-sidebar">
            <ul>
                <li><a href="/">link</a></li>
                <li><a href="/">link</a></li>
                <li><a href="/">link</a></li>
                <li><a href="/">link</a></li>
                <li><a href="/">link</a></li>
            </ul>
        </nav>
    </div>     
</header>
