<head>
	<meta charset="UTF-8">
	<title>Slim4</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
	<link rel="stylesheet" href="/assets/css/app.css">

</head>
<body>
	<div class="container">
		<h1>{{ name }}</h1>
        <a href="/auth">Auth</a>
	</div>
</body>
</html>