{% extends "app.twig" %}
{% block content %}
{% include "header.twig" %}
<div id="center" class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
            <div  id="content">
                <h1 id="content-title">Main page : {{ result }}</h1>
                <div id="line"></div>
                <img src="/assets/images/post-image.jpg">
                <p id="content-text">
                        Книга Притчей Царя Соломона заканчивается историей
                        о  том, что «кто найдет доблестную жену  – цена ее больше,
                        чем сокровища». Я  решил начать свою книгу с  этих слов.
                        Я благодарен Богу за то, что он дал мне такую прекрасную
                        жену, которая уже дала мне все остальное.
                        Я  благодарен всем, кто меня обучал Торе. В  особенности
                        Раву Ицхаку Зильберу (благословенна память праведника).
                        Он был, есть и  будет для меня олицетворением Торы.
                        Все остальные раввины, учителя, товарищи по  изучению
                        и  ученики  – «от каждого я  чему-то научился. Потому что
                        Свидетельство Бога говорило через вас» («Пиркей Авот»).
                        Очень благодарен своим родителям Борису Пинтусевичу
                        и Рите Пинтусевич (Резниковой) за то, что родили меня
                        евреем и дали мне прекрасные исходные данные. И всем поколениям
                        своих предков, которые держались за свое еврейство
                        и не меняли свою веру в Бога на другую. Это было тяжело.
                        2000 лет без своей страны, без земли, в  постоянных
                        гонениях и  преследованиях. Они были настоящими героями
                        и богатырями. Их подвиг просто невероятен. 
                </p>
            <div id="content-footer"></div>
            </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div id="r-sidebar">
                    <li><a href="/">link</a></li>
                    <li><a href="/">link</a></li>
                    <li><a href="/">link</a></li>
                    <li><a href="/">link</a></li>
                </div>
            </div>
        </div>
    </div>
{% include "footer.twig" %}
{% endblock %}